.navItem {
  color: white;
  text-transform: uppercase;
  /* padding-right: 0px; */
  margin-right: 50px;
}

.navItem:hover {
  text-decoration: none;
  color: #ff5722;
  text-transform: uppercase;
}
